*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Table reset to default */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

td,
th {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-accent {
  background-color: rgb(144, 225, 238);
}

td:hover {
  background-color: rgb(110, 236, 167);
  cursor: pointer;
}

/* Calendar using DIVS */
.calendar-wrap {
  margin: 2em 0;
}
.calendar-daysOfWeek {
  display: flex;
  border: 1px solid slateblue;
}

.calendar-daysOfWeek > div {
  border: 1px solid slateblue;
  flex: 0 1 calc(14%);
  text-align: center;
}
.calendar-body {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
}

.calendar-body > .day {
  flex: 0 1 calc(14%);
  border: 1px solid blue;
}
