*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  border: 1px solid #000;
}

.bg-accent {
  background-color: rgb(144, 225, 238);
}

td:hover {
  background-color: rgb(110, 236, 167);
  cursor: pointer;
}
